<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <%- include("../templates/header.ejs", {title : "آیفون استور", css : "homePage"}) %>
</head>
<body>
  <style>
    .info-card{
      width: 70%; display: flex; align-items: center; justify-content: space-around;padding: 5px;background-color: rgb(232, 232, 232);border-radius: 10px;min-height: 35px;margin: 5px;
    }
  </style>
  <%- include("../templates/sideBar.ejs") %>
  <div id="check-container" class="pr-w100">
    <div style="display: flex; justify-content: space-between;">
      <div style="display: flex; justify-content: center; align-items: center;">
        <h1 id="header-mobile">کد موبایل <%= phone.code %> ( <%= phone.code2 %> )</h1>
        <a href="/phones/<%=phone.code%>/edit" class="hp">
          <button style="margin-right: 10px;">ویرایش</button>
        </a>
        <button class="hp" style="margin-right: 10px;" onclick="window.print();return false;">پرینت</button>
      </div>
      <div id="status-mobile" style="color: var(--main); background-color: rgba(228, 246, 253, .7); padding: 2px 5px; border-radius: 7px; text-shadow: 2px 2px 3px skyblue;"><%= phone.status %></div>
    </div>
    
    <div class="pr-w100" style=" background-color: white; padding: 10px; border-radius: 10px;display: flex; justify-content: space-between; align-items: center;">

      <div style="display: flex; flex-direction: column;width: 50%; align-items: center;<%= (phone.customerName) ? '' : 'opacity: 0.2' %>">
        <h2 style="margin-bottom: 10px;">مشخصات خریدار</h2>
        <div class="info-card">
          <b>نام و نام‌خانوادگی:</b>
          <p><%=phone.customerName%></p>
        </div>

        <div class="info-card">
          <b>شماره تماس:</b>
          <p><%=phone.customerNumber%></p>
        </div>

        <div class="info-card">
          <b>قیمت فروش:</b>
          <p><%=phone.sellPrice?.toLocaleString()%> تومان</p>
        </div>

        <div class="info-card">
          <b>تاریخ:</b>
          <p><%=phone.sellDate%></p>
        </div>

        <div class="info-card">
          <b>روش خرید:</b>
          <p><%=phone.sellMode%></p>
        </div>
      </div>

      <div style="display: flex; flex-direction: column;width: 50%; align-items: center;">
        <h2 style="margin-bottom: 10px;">مشخصات فروشنده</h2>

        <div class="info-card">
          <b>نام و نام‌خانوادگی:</b>
          <p><%=phone.buyFrom%></p>
        </div>

        <div class="info-card">
          <b>شماره تماس:</b>
          <p><%=phone.buyerNumber%></p>
        </div>

        <div class="info-card">
          <b>قیمت خرید:</b>
          <p><%=phone.buyPrice?.toLocaleString()%> تومان</p>
        </div>
        
        <div class="info-card">
          <b>تاریخ:</b>
          <p><%=phone.buyDate%></p>
        </div>

        <div class="info-card">
          <b>تحویلی:</b>
          <p>
            <%= (phone.isOwnershipAvailable) ? "مالکیت" : '' %>
            <%= (phone.isOwnershipAvailable && phone.isBoxAvailable) ? "و" : ''%>
            <%= (phone.isBoxAvailable) ? "جعبه" : '' %>
            <%= (!phone.isOwnershipAvailable && !phone.isBoxAvailable) ? 'هیچکدام' : '' %>
          </p>
        </div>
      </div>

    </div>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; background-color: white; border-radius: 15px; margin-top: 10px;">

      <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <div class="info-card">
          <b>مدل دستگاه:</b>
          <p>
            <%= phone.phoneModel %>
          </p>
        </div>
  
        <div class="info-card">
          <b>حافظه:</b>
          <p>
            <%= phone.capacity %>
          </p>
        </div>
      </div>

      <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <div class="info-card">
          <b>رنگ:</b>
          <p>
            <%= phone.color %>
          </p>
        </div>
  
        <div class="info-card">
          <b>پارت‌نامبر:</b>
          <p>
            <%= phone.partNumber %>
          </p>
        </div>
      </div>

      <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <div class="info-card">
          <b>سریال 1:</b>
          <p>
            <%= phone.IMEI1 %>
          </p>
        </div>
  
        <div class="info-card">
          <b>سریال 2:</b>
          <p>
            <%= phone.IMEI2 %>
          </p>
        </div>
      </div>

      <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <div class="info-card">
          <b>سود دستگاه:</b>
          <p>
            <% if(phone.sellPrice && phone.buyPrice){ %>
              <%= (phone.sellPrice - phone.buyPrice)?.toLocaleString() %>
              تومان
            <% }else{ %>
              غیرقابل محاسبه
            <% } %>
          </p>
        </div>
  
        <div class="info-card">
          <b>نوع تسویه با مشتری:</b>
          <p>
            <%= phone.buyerSettlement %>
          </p>
        </div>
      </div>

      <div class="info-card">
        <b style="min-width: 25%;">توضیحات تکمیلی:</b>
        <p>
          <%= phone.description %>
        </p>
      </div>

    </div>

  </div>
</body>
</html>